POSTGRES_DB=scalashield
POSTGRES_USER=scalashield
POSTGRES_PASSWORD=
JWT_SECRET=
ADMIN_USERNAME=admin
# bcrypt hash of your chosen admin password - generate with any bcrypt tool (cost 10)
# e.g.: htpasswd -bnBC 10 "" yourpassword | tr -d ':\n' | sed 's/$2y/$2a/'
# Dev default (hash of "changeme-dev-only__") is baked into AppConfig; set this to override
ADMIN_PASSWORD_HASH=
